[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
peewee = "*"
falcon = "*"
r2d2 = "*"
gunicorn = "*"
r2dto = "*"

[dev-packages]

[requires]
python_version = "3.8"
